.image-accordion {
  height: calc(1650px / 2);
}
.image-accordion__list-item {
  height: calc((1650px / 2) / 3);
}

.image-accordion__list:hover .image-accordion__list-item {
  height: calc((1650px / 2) / 6);
}

.image-accordion__list .image-accordion__list-item:hover {
  height: calc((1650px / 2) - ((1650px / 2) / 3));
}

@media (max-width: 1165px) {
  .image-accordion {
    height: calc(145vw / 2);
  }

  .image-accordion__list-item {
    height: calc((145vw / 2) / 3);
  }

  .image-accordion__list:hover .image-accordion__list-item {
    height: calc((145vw / 2) / 6);
  }

  .image-accordion__list .image-accordion__list-item:hover {
    height: calc((145vw / 2) - ((145vw / 2) / 3));
  }
}

@media (max-width: 1015px) {
  .image-accordion {
    height: 1335px;
    margin-bottom: 65px;
  }

  .image-accordion__list-item {
    height: 100%;
  }

  .image-accordion__list:hover .image-accordion__list-item {
    height: 100%;
  }

  .image-accordion__list .image-accordion__list-item:hover {
    height: 100%;
  }

  .image-accordion__gradient::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .image-accordion {
    margin-bottom: 60px;
  }
}
