html {
  scroll-behavior: smooth;
  font-family: "IBM Plex Mono";
  background: black;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  letter-spacing: -0.03em;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1150px;
  width: 100%;
}

.h2 {
  color: #fff;
  font-size: 55px;
  line-height: 72px;
}

.h3 {
  color: #fff;
  font-size: 35px;
  line-height: 46px;
}

.h4 {
  color: #1aff05;
  font-size: 35px;
  line-height: 45.5px;
}

.input-box {
  padding: 15px 40px;
  background: #3b3d3b;
  color: #fff;
  font-size: 22px;
  line-height: 29px;
  max-width: 560px;
  border: none;
  border-radius: 50px;
}

.input-box::placeholder {
  color: #fff;
}

.input-box:focus {
  outline: none;
}

.header {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 27px;
  margin-bottom: 250px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.bio {
  margin-bottom: 150px;
  padding: 330px 10px 0 10px;
  background: url(../resources/images/yourself-photo/yourself-photo@2x.png)
    center center/cover no-repeat;
  width: 100%;
  height: 765px;
}

.bio__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.bio__link {
  line-height: 23px;
  vertical-align: middle;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: all 400ms;
}

.bio__link:hover {
  transition: all 400ms;
  color: #1bff07;
}

.bio__link:visited {
  color: #fff;
}

.bio__logo {
  max-width: 130px;
  height: 40px;
}

.bio__about-me {
  display: flex;
  flex-direction: column;
}

.bio__my-job {
  margin-bottom: 30px;
  display: block;
  color: #fff;
  max-width: 430px;
  font-size: 20px;
  line-height: 26px;
}

.bio__greetings {
  color: #1bff07;
  max-width: 920px;
  font-size: 80px;
  line-height: 70px;
}

.fresh-projects {
  margin-bottom: 150px;
  padding: 0 10px;
}

.fresh-projects__header {
  margin-bottom: 40px;
}

.image-accordion {
  height: 825px;
}

.image-accordion__list-item {
  height: 275px;
}

.image-accordion__list:hover .image-accordion__list-item {
  height: 137.5px;
}

.image-accordion__list .image-accordion__list-item:hover {
  height: 550px;
}

.fresh-projects__project,
.fresh-projects__img {
  position: relative;
  width: 100%;
}

.fresh-projects__project-type {
  color: black;
  top: 50px;
  left: 45px;
  font-family: "Manrope";
  border-radius: 150px;
  position: absolute;
  width: fit-content;
  font-size: 20px;
  font-family: "Manrope";
  text-align: center;
  background: #1bff07;
  padding: 10px 20px;
}

.fresh-projects__project-name {
  bottom: 130px;
  left: 50px;
  position: absolute;
}

.fresh-projects__project-description {
  bottom: 50px;
  left: 50px;
  position: absolute;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
}

.fresh-projects__show-all {
  padding: 53px 0;
  color: black;
  width: 100%;
  height: 150px;
  background: #1bff07;
  font-size: 30px;
  line-height: 40px;
  text-align: center;

  text-decoration: none;
  border-radius: 0 0 30px 30px;
}

.my-competence {
  margin-bottom: 150px;
  padding: 0 10px;
}

.my-competence__header {
  margin-bottom: 80px;
}

.my-competence__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  row-gap: 7px;
  column-gap: 40px;
}

.my-competence__name::before {
  margin-bottom: 15px;
  content: "";
  display: block;
  width: 45px;
  height: 45px;
}
.my-competence__name:nth-child(1):before {
  background: url(../resources/objects/icons/html-icon.png) center center/cover
    no-repeat;
}
.my-competence__name:nth-child(2):before {
  background: url(../resources/objects/icons/js-icon.png) center center/cover
    no-repeat;
}
.my-competence__name:nth-child(5):before {
  background: url(../resources/objects/icons/react-icon.png) center center/cover
    no-repeat;
}
.my-competence__name:nth-child(6):before {
  background: url(../resources/objects/icons/mobile-icon.png) center
    center/cover no-repeat;
}

.my-competence__description {
  margin-bottom: 33px;
  color: #fff;
  font-size: 22px;
  line-height: 28.5px;
}

.tasks-spectrum {
  margin-bottom: 150px;
  padding: 0 10px;
}

.tasks-spectrum__header {
  margin-bottom: 80px;
  max-width: 400px;
}
.tasks-spectrum__task {
  margin-bottom: 100px;
}
.tasks-spectrum__img {
  margin-bottom: 40px;
  width: 100%;
}
.tasks-spectrum__info {
  margin: 0 auto;
  max-width: 1065px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tasks-spectrum__name {
  color: #1bff07;
  font-size: 55px;
  line-height: 60px;
  max-width: 470px;
}
.tasks-spectrum__description {
  max-width: 525px;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
}

.communication {
  margin-bottom: 10px;
  position: relative;
  padding: 0 10px;
}

.communication__form {
  padding-top: 100px;
  padding-bottom: 80px;
}

.communication__header {
  margin-bottom: 60px;
  max-width: 550px;
}

.communication__name {
  margin-bottom: 25px;
  max-width: 560px;
}

.communication__email {
  margin-bottom: 60px;
  max-width: 560px;
}

.communication__btn-submit {
  padding: 19px;
  width: 450px;
  background: #1bff07;
  font-size: 22px;
  line-height: 29px;
  border-radius: 10px;
  cursor: pointer;
}

.communication__btn-submit:active {
  background: #82ff77;
}

.communication__img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 100%;
}

.footer {
  padding: 76px 10px 30px 10px;
  background: #fff;
  border-radius: 30px 30px 0 0;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__info,
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 125px;
}

.footer__info {
  align-items: flex-start;
}

.footer__links {
  align-items: flex-end;
}

.footer__portfolio-by,
.footer__link {
  color: #000;
  font-family: "Manrope";
  font-size: 22px;
  line-height: 30px;
}

.footer__link {
  text-decoration: none;
  transition: all 400ms;
}

.footer__link:visited {
  color: #000;
}

.footer__link:hover {
  transition: all 400ms;
  color: #18e606;
}

.footer__rights,
.footer__policy {
  font-family: "Manrope";
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.footer__policy {
  transition: all 400ms;
  text-decoration: none;
}

.footer__policy:hover {
  transition: all 400ms;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.footer__policy:visited {
  color: #000;
}

.footer__nav {
  display: flex;
  gap: 24px;
}
