@import url(reset/reset.css);
@import url(container.css);
@import url(header.css);
@import url(bio.css);
@import url(fresh-projects.css);
@import url(templates/image-accordion-template.css);
@import url(image-accordion.css);
@import url(communication.css);
@import url(image-accordion.css);
@import url(input-box.css);
@import url(my-competence.css);
@import url(tasks-spectrum.css);
@import url(input-box.css);
@import url(footer.css);

html {
  scroll-behavior: smooth;
  font-family: "IBM Plex Mono";
  background: black;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  letter-spacing: -0.03em;
}

.h2 {
  color: #fff;
  font-size: 55px;
  line-height: 72px;
}

.h3 {
  color: #fff;
  font-size: 35px;
  line-height: 46px;
}

.h4 {
  color: #1aff05;
  font-size: 35px;
  line-height: 45.5px;
}

@media (max-width: 1015px) {
  .h2 {
    font-size: 45px;
    line-height: 58px;
  }

  .h3 {
    font-size: 28px;
    line-height: 36px;
  }

  .h4 {
    font-size: 28px;
    line-height: 36px;
  }
}
